.profile {
    display: flex;
    flex-direction: row;
    width: 320px;
    height: 164px;
    padding: 32px;
    box-sizing: border-box;
    background: white;
    border-radius: 8px;
}

.profile__avatar-box {
    position: relative;
    width: 100px;
    height: 100px;
}

.profile__avatar {
    border-radius: 50px;
    width: 100%;
    height: 100%;
}

.profile__avatar-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.6);
    visibility: hidden;
}

.profile__avatar-box:hover  .profile__avatar-hover {
    visibility: visible;
}

.profile__input {
    visibility: hidden;
}

.profile__info-box {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.profile__nickname {
    color: #444444;
    font-size: 18px;
    font-weight: bold;
}

.profile__invite-link{
    margin-top: 10px;
    color: #888;
    cursor: pointer;
}

.profile__invite-link:hover {
    color: #666;
}


.profile__invite-link:active {
    color: #222;
}