.chats__controls {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    padding: var(--standard-indent-small) var(--standard-indent);
    border-bottom: var(--border-size) solid var(--neutral-color);
    width: 310px;
}

.control-img {
    width: var(--icon-size);
    height: var(--icon-size);
    padding: calc(var(--standard-indent-small) / 2);
    border: var(--border-size) solid var(--neutral-color);
    padding: 5px 13px;
    border-radius: 3px;
    box-shadow: 1px 1px 0 rgba(0,0,0,.15);
}

/* .control-img:hover {
    background-color: var(--spare-color-transparent);
    cursor: pointer;
} */

.control-img:hover {
    background-color: var(--neutral-color-semi-transparent);
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    cursor: pointer;
}

.control-img:active {
    background-color: var(--neutral-color);
    box-shadow: 0 1px 0 rgba(0,0,0,.075);
    cursor: pointer;
}

.chats__search-input {
    box-sizing: border-box;
    width: calc((100% * 2 + var(--icon-size)) / 2.6);
    height: calc(
        var(--icon-size) + 
        var(--standard-indent-small) / 2 + 
        var(--border-size) * 2
    );
    padding: calc(var(--standard-indent-small) / 2);
    border-width: 0;
    border-radius: 3px;
    outline: none;
    margin-left: -6px;
    background-color: var(--neutral-color-transparent);
    color: var(--text-color-h0);
    font-size: 12px;
    font-family: "Noto Sans", sans-serif;
}

.chats__search-input:focus {
    background-color: transparent;
    box-shadow: 0 0 var(--border-size) var(--border-size) var(--spare-color);
}

.controls_zindex_max {
    z-index: 32;
    background-color: var(--background-color);
    animation: blinkButton 1s linear 0s infinite;
}

.controls_zindex_max:hover {
    padding: var(--standard-indent-small);
    width: calc(var(--icon-size) - var(--standard-indent-small));
    height: calc(var(--icon-size) - var(--standard-indent-small));
    transition: .3s;
}

@keyframes blinkButton {
    0% {
        background-color: var(--background-color);
    }
    50% {
        background-color: var(--spare-color);
    }
    100% {
        background-color: var(--background-color);
    }
}
