.load-preview {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 1;
    grid-area: 3 / 1 / 4 / 2;
    border-top: 1px solid var(--neutral-color);
    background-color: var(--background-color);
    padding: 0 calc(var(--standard-indent-small) / 2);
    box-sizing: border-box;
}

.preview {
    display: block;
    position: relative;
}

.preview__item {
    height: calc(100% - var(--standard-indent-small) * 2);
    object-fit: cover;
    margin: var(--standard-indent-small) calc(var(--standard-indent-small) / 2);
}

.preview__item_delete {
    --size: 13px;
    position: absolute;
    width: var(--size);
    height: var(--size);
    margin: 
    calc(
        var(--standard-indent-small) + 
        var(--standard-indent-small) / 4
    )
    0 
    0 
    calc(
        -1 * var(--size) - 
        var(--standard-indent-small) / 2 - 
        var(--standard-indent-small) / 4
    );
}

.preview__item_delete:hover {
    transform: scale(1.2);
    cursor: pointer;
}
