.preview-place {
    display: flex;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    grid-area: 3 / 1 / 4 / 2;
    align-items: center;
    overflow: hidden;
    border-top: var(--border-size) solid var(--neutral-color);
    background-color: var(--background-color);
}

.preview-place_clear {
    --padding: var(--standard-indent);
    position: absolute;
    z-index: 2;
    right: 0;
    height: calc(100% - var(--padding) * 2);
    padding: var(--padding) 0;
    background-color: var(--neutral-color-transparent);
}

.preview-place_clear:hover {
    transform: scaleY(1.1);
    background-color: var(--neutral-color-semi-transparent);
    cursor: pointer;
}

.preview-place_clear:active {
    --padding: calc(var(--standard-indent) + 2px);
    padding: var(--padding) 2px;
    background-color: var(--spare-color-semi-transparent);
}

.load-preview {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 calc(var(--standard-indent-small) / 2);
    overflow-x: hidden;
    overflow-y: hidden;
}

.preview {
    display: block;
    position: relative;
    width: calc(20% - var(--standard-indent-small) - 6px);
    height: 80px;
    margin: var(--standard-indent-small) calc(var(--standard-indent-small) / 2);
}

.preview:last-child {
    margin-right: 31px;
}

.preview__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview__item:hover {
    cursor: pointer;
}

.preview__item_delete {
    --size: 13px;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--size);
    height: var(--size);
    padding: 2px;
    background-color: var(--neutral-color-semi-transparent);
}

.preview__item_delete:hover {
    transform: scale(1.2);
    cursor: pointer;
}
