.emoji-mart {
    position: absolute;
    z-index: 4;
    right: calc(
        (var(--icon-size) / 2) +
        var(--standard-indent-small)
    );
    bottom: calc(
        var(--icon-size) +
        (var(--standard-indent-small) * 3)
    );
    box-sizing: border-box;
    width: calc(36px * 8 + 2px) !important;
    height: calc(var(--icon-size) * 3 + var(--standard-indent) * 0.5 * 4);
    overflow: hidden;
    border-radius: var(--standard-indent-small);
    background-color: var(--background-color);
    box-shadow: 
        0 
        0 
        calc(var(--border-size-bold)) 
        var(--border-size) 
        var(--spare-color);
}

.emoji_input {
    top: 100px;
    left: 100px;
}

.emoji-mart-bar,
.emoji-mart-search,
.emoji-mart-category-label {
    display: none;
}

.emoji-mart-scroll {
    margin-right: -17px;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    bottom: 0;
    height: calc(var(--icon-size) * 3 + var(--standard-indent) * 0.5 * 4);
}

.emoji-mart-scroll::-webkit-scrollbar {
    width: 0;
}

.emoji-mart-emoji:hover {
    cursor: pointer !important;
}

.emoji-mart-emoji:hover::before {
    background-color: var(--spare-color-transparent) !important;
}

.emoji-mart-category .emoji-mart-emoji span {
    cursor: pointer;
}
