.adduser {
    --width: 400px;
    width: 400px;
    width: var(--width);
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 16px;
    box-sizing: border-box;
    background: white;
    border-radius: 8px;
}

.adduser::-webkit-scrollbar {
    width: 0;
}

.adduser__input {
    padding: 0 16px;
    height: 48px;
    width: 368px;
    width: calc(var(--width) - 32px);
    border-width: 0;
    border-radius: 4px;
    outline: none;
    background-color: #ebebeb;
    font-size: 16px;
    position: fixed;
    box-sizing: border-box;
    z-index: 2;
}

@supports (width: -webkit-max-content) {
    .adduser__input_wrapper {
        /* не спрашивайте, почему */
        position: fixed;
        width: 368px;
        height: 48px;
        box-shadow: 0 -8px 0 8px #fff;
        width: calc(var(--width) - 32px);
        z-index: 1;
    }
}



.adduser__list {
    width: 100%;
    margin-top: 48px;
}

.adduser__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    padding: 8px;
    width: calc(100% - 16px);
}

.adduser__user:hover {
    background: #ebebeb;
}

.adduser__user-avatar {
    height: 48px;
    width: 48px;
    border-radius: 24px;
    margin-right: 8px;
}
