.custom-button {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid #3AA94A;
    background-color: var(--secondary-color);
    color: #000;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.custom-button:hover {
    transform: translate(1px, 2px);
    transition: .1s;
}

.custom-button:active {
    transform: translate(2px, 4px);
    transition: .1s;
}
