.chat-icon {
    display: block;
    height: 40px;
    margin: 10px 0;
    padding-left: 20px;
    background-color: var(--neutral-color);
    font-weight: bold;
    line-height: 40px;
    cursor: pointer;
}

.chat-icon:hover {
    margin: 10px;
    transition: .1s;
    background-color: snow;
    box-shadow: 0 0 10px var(--secondary-color);
}

.chat-icon:active {
    transform: scale(.95, .95);
}
