.create-group {
    --width: 400px;
    box-sizing: border-box;
    width: 400px;
    width: var(--width);
    padding: 16px;
    overflow-x: hidden;
    /* height: 80%; */
    overflow-y: auto;
    border-radius: 8px;
    background: white;
}

.create-group__input {
    position: fixed;
    z-index: 2;
    box-sizing: border-box;
    width: 368px;
    width: calc(var(--width) - 32px);
    height: 48px;
    padding: 0 16px;
    border-width: 0;
    border-radius: 4px;
    outline: none;
    background-color: #ebebeb;
    font-size: 16px;
}

.create-group__list {
    width: 100%;
    margin-top: 64px;
    border-top: 1px solid var(--neutral-color);
}

.create-group__user-box {
    display: block;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
}

.create-group__user-box:hover {
    transition: .2s;
    background-color: var(--neutral-color);
    cursor: pointer;
}

.create-group__nickname {
    margin-left: 15px;
    font-weight: bold;
    line-height: 30px;
}

.create-group__info_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid var(--neutral-color);
}

.create-group__number-members {
    height: 30px;
    font-size: 110%;
    line-height: 30px;
    text-align: center;
}

.create-group__button {
    width: 110px;
    height: 30px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    background: none;
    font-size: 110%;
}

.create-group__button:hover {
    transition: .2s;
    background-color: var(--neutral-color);
    cursor: pointer;
}
