.message {
    z-index: 1;
    max-width: 40%;
    /* height: 100px; */
    margin-top: 8px;
    padding: 10px 20px;
}

.my {
    align-self: flex-start;
    border-radius: 16px;
    border-bottom-left-radius: 0;
    background: #ffffff;
}

.friend {
    align-self: flex-end;
    border-radius: 16px;
    border-bottom-right-radius: 0;
    background: #fff7f3;
}

.message__sender {
    display: block;
    color: lightgray;
    font-size: 12px;
}

.message__content {
    word-break: break-all;
}

.metadata {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.metadata__image {
    width: 100%;
}

.metadata__header {
    font-size: 80%;
    text-align: center;
}

.metadata__description {
    font-size: 80%;
    text-decoration: none !important;
}
