.message {
    max-width: 40%;
    margin-top: 8px;
}

.my {
    align-self: flex-end;
}

.friend {
    align-self: flex-start;
}

.messageBody {
    padding: 10px 20px;
    font-size: 14px;
}

.myBody {
    background: #f5f5f5;
    border-radius: 16px;
    border-bottom-right-radius: 0;
}

.friendBody {
    border-radius: 16px;
    border-bottom-left-radius: 0;
    background: #f5f5f5;
}

.message__data {
    display: flex;
    justify-content: space-between;
    color: lightgray;
    font-size: 12px;
}

.message__sender {
    margin-right: 10px;
}

.message__date {
    text-align: right;
}

.message__content {
    margin: 10px 0;
    word-break: break-all;
}

.message__attachment {
    display: block;
    max-width: 100%;
    max-height: 200px;
    margin: 10px;
}

.message__reactions {
    margin-top: 4px;
    display: flex;
    flex-wrap: wrap;
}

.message__reactions_to-left {
    display: flex;
    flex-wrap: wrap;
}

.message__add-emoji {
    height: 22px;
    width: 22px;
    background: #dddddd;
    cursor: pointer;
    border-radius: 11px;
    visibility: hidden;
}

.message:hover > .message__reactions > .message__reactions_to-left > .message__add-emoji {
    visibility: visible;
}

.reaction {
    display: flex;
    margin-right: 4px;
    background: #f7f7f7;
    padding: 4px;
    border-radius: 16px;
    margin-bottom: 4px;
}

.reaction:nth-child(1) {
    margin-left: 0;
}

.reaction__number-peoples {
    font-size: 14px;
    line-height: 14px;
    margin-left: 4px;
    font-weight: bold;
    color: lightgray;
}

.metadata {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.metadata__image {
    width: 100%;
}

.metadata__header {
    font-size: 80%;
    text-align: center;
}

.metadata__description {
    font-size: 80%;
    text-decoration: none !important;
}
