.message
{
   width: 160px;
   margin-top: 8px;
   display: flex;
   flex-direction: column;
   padding: 8px;
}

.my
{
    align-self: flex-start;
    background: #ffffff;
    border-radius: 16px;
    border-bottom-left-radius: 0;
}

.friend
{
    align-self: flex-end;
    background: #fff7f3;
    border-radius: 16px;
    border-bottom-right-radius: 0;
}

.message__sender
{
    font-size: 12px;
    color: lightgray;
}

.message__content
{
    word-break: break-all;
}