.chat-window {
    height: 100%;
}

.chat-window__stub {
    height: 50vh;
    margin: calc((100vh - 64px - 2*20px - 2*10px - 50vh - 2*20px) / 2);
    margin-left: calc(50% - 25vh);
    opacity: .1;
}

.chat-window__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 64px;
    padding-left: 16px;
    background: var(--base-color);
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.chat-window__messages {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: flex-start;
    height: calc(100% - 64px - 48px - 10px - 2*8px);
    padding: 8px;
    overflow-y: auto;
}

.chat-window__messages::-webkit-scrollbar {
    width: 0;
}

.chat-window__write {
    display: flex;
    height: 48px;
    margin: 0 0 10px 10px;
    background: var(--neutral-color);
}

.chat-window__input {
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;
    border: 1px solid var(--secondary-color);
    outline: none;
    box-shadow: 0 -10px 10px var(--neutral-color);
    font-size: 170%;
}

.chat-window__input:focus {
    background-color: var(--neutral-color);
}

.chat-window__send-btn {
    z-index: 1;
    align-self: center;
    width: 104px;
    height: 40px;
    margin: 4px 8px;
    outline: none;
    background: var(--secondary-color);
    box-shadow: -5px -5px 10px 10px var(--neutral-color);
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.chat-window__send-btn:hover {
    transform: scale(1.20, 1.20);
    transition: .05s;
}
