.chat-window {
    height: 100%;
}

.chat-window__stub {
    height: 50vh;
    margin: calc((100vh - 64px - 2*20px - 2*10px - 50vh - 2*20px) / 2);
    margin-left: calc(50% - 25vh);
    opacity: .1;
}

.chat-window__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 64px;
    background: white;
    padding-left: 16px;
    font-size: 16px;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
    overflow-y: none;
}

.chat-window__avatar {
    height: 48px;
    width: 48px;
    border-radius: 24px;
    margin-right: 16px;
    cursor: pointer;
}

.chat-window__name {
    color: #444444;
    cursor: pointer;
}

.chat-window__messages {
    background: white;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: flex-end;
    padding: 8px;
    height: calc(100% - 64px - 48px - 2*8px - 2*8px);
    overflow-y: auto;
}

.chat-window__messages::-webkit-scrollbar {
    width: 0;
}

.chat-window__write {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 48px;
    padding: 8px;
    background: white;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
    overflow-y: none;
}

.chat-window__input {
    padding: 0 16px;
    width: calc(100% - 48px - 16px - 16px - 16px);
    border-width: 0;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    background-color: #ebebeb;
}

.chat-window__send-btn {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: gray;
    text-align: center;
    cursor: pointer;
}
