.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--base-color);
}

.header__menu-link,
.header__profile-link {
    margin: 10px 20px;
}
