.load-preview {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    box-shadow: 1px -2px 2px 1px lightgray;
    z-index: 1;
}

.preview {
    display: block;
}

.preview__item {
    height: 80px;
    margin: 10px;
}

.preview__item_delete {
    --size: 13px;
    height: var(--size);
    width: var(--size);
    margin: 10px 0 0 calc(-1 * var(--size) - 10px);
    position: absolute;
}

.preview__item_delete:hover {
    transform: rotate(-15deg) scale(0.9);
    cursor: pointer;
}
