.backdrop {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  background: white;
  margin: 5px;
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.dot:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.dot:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.dot:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.dot:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.dot:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes loader {
  from {
    width: 2px;
    height: 2px;
    border-radius: 1px;
  }
  to {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
}

@keyframes loader {
  from {
    width: 2px;
    height: 2px;
    border-radius: 1px;
  }
  to {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
}
