a.custom-button.log-in__github-link { 
    box-shadow: inset 0 -1px 0 rgba(16,22,26,.2); 
    background-color: #0f9960; 
    background-image: linear-gradient(180deg,#ffffff1a,#fff0); 
    color: #fff; 
    min-width: 200px; 
    border-radius: 10px; 
} 

.custom-button {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #3AA94A;
    outline: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.custom-button:focus {
    transform: scale(1.05, 1.05);
    transition: .1s;
    background-color: snow;
    box-shadow: 0 0 10px var(--spare-color);
}

.custom-button:hover {
    transform: translate(0, 0);
    transition: .1s;
    background-color: snow;
}

.custom-button:active {
    transform: scale(.95, .95);
}
