body {
    overflow: hidden;
}

.log-in,
.authorized-page {
    --height: 40vh;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: var(--height);
    margin: auto;
    margin: calc(50vh - var(--height) / 2) auto;
    border-radius: 10px;
    font-family: "Noto Sans", sans-serif;

}

.log-in__logo {
    width: 60px;
    margin: 0 auto;
}

.log-in__github-link {
    margin: 50px auto 0;
    transition: all 300ms ease;
}

.log-in__github-link:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    width: 0%;
    height: 100%;
    transition: all 0ms ease;
    background: #1f771f;
    border-radius: 5px;
}

.log-in__github-link:focus {
    box-shadow: none;
}

.log-in__github-link:hover {
    color: var(--background-color);
}

.log-in__github-link:hover:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
    border: 1px solid #008000;
    background: #008000;
  }

.custom-button {
    background-color: #eaf7e8;
}

.log-in__team3 {
    display: none;
}

@media screen and (min-width: 900px) and (min-height: 600px) {
    
    @keyframes type { 
        from { width: 0; } 
    } 

    @keyframes remove {
        from {
            opacity: 1;
        }

        80% {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
    .log-in__team3 { 
        display: block;
        position: absolute;
        width: 30em;
        overflow: hidden;
        animation-name: type, remove;
        animation-duration: 5s, 4s;
        animation-timing-function: steps(60, end), ease;
        opacity: 0;
        color: black;
        font-size: 20px;
        white-space: nowrap;
    }

    .log-in__team3::first-letter {
        color: red;
        font-size: 24px;
    }

    .team3_1 {
        top: 10%;
        left: 10%;
        
    }

    .team3_2 {
        top: 5%;
        left: 40%;
        animation-delay: 2s;
    }

    .team3_3 {
        top: 50%;
        left: 15%;
        animation-delay: 4s;
        
    }

    .team3_4 {
        top: 20%;
        left: 15%;
        animation-delay: 6s;
  
    }

    .team3_5 {
        display: block;
        top: 70%;
        left: 50%;
        animation-delay: 6s;
    }

    .team3_6 {
        top: 50%;
        left: 80%;
        animation-delay: 2s;
    }

    .team3_7 {
        top: 80%;
        left: 10%;
        animation-delay: 0s;
    }

    .team3_8 {
        top: 60%;
        left: 40%;
        animation-delay: 0s;
    }

    .team3_9 {
        top: 20%;
        left: 15%;
        animation-delay: 2s;
    }

    .team3_10 {
        top: 70%;
        left: 50%;
        animation-delay: 2s;
    }

    .team3_11 {
        top: 90%;
        left: 80%;
        animation-delay: 4s;
    }

    .team3_12 {
        top: 17%;
        left: 50%;
        animation-delay: 4s;
    }

    .team3_13 {
        top: 30%;
        left: 70%;
        animation-delay: 0s;        
    }

    .team3_14 {
        top: 60%;
        left: 10%;
        animation-delay: 6s;  
    }

    .team3_15 {
        top: 80%;
        left: 40%;
        animation-delay: 4s;    
    }
}
