.adduser {
    box-sizing: border-box;
    width: var(--modal-width);
    height: 80%;
    overflow: hidden;
    border-radius: var(--standard-indent-small);
    background-color: var(--background-color);
    box-shadow: 0 0 var(--border-size) var(--border-size) var(--spare-color);
}

.adduser__input {
    position: fixed;
    box-sizing: border-box;
    width: var(--modal-width);
    height: calc(var(--standard-indent) * 1.5);
    padding: 0 calc(var(--standard-indent-small) * 2);
    border-width: 0;
    border-radius: var(--standard-indent-small) var(--standard-indent-small) 0 0;
    outline: none;
    background-color: var(--neutral-color);
    color: var(--text-color-h0);
}

.adduser__input:focus {
    background-color: var(--background-color);
    box-shadow: 0 0 var(--border-size) var(--border-size) var(--spare-color);
}

.adduser__list {
    height: calc(100% - var(--standard-indent) * 1.5);
    margin-top: calc(var(--standard-indent) * 1.5);
    margin-right: -17px;
    overflow-x: hidden;
    overflow-y: scroll;
}
