.profile {
    display: flex;
    box-sizing: border-box;
    width: var(--modal-width);
    padding: var(--standard-indent);
    border-radius: var(--standard-indent-small);
    background-color: var(--background-color);
    box-shadow: 0 0 var(--border-size) var(--border-size) var(--spare-color);
}

.profile__avatar-box {
    position: relative;
    width: calc(var(--icon-size) * 4);
    height: calc(var(--icon-size) * 4);
}

.profile__avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile__avatar-hover {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #0009;
    cursor: pointer;
}

.profile__avatar_new {
    position: absolute;
    top: calc(100% - var(--icon-size) * 0.75);
    left: calc(100% - var(--icon-size) * 0.75);
    width: var(--icon-size);
    height: var(--icon-size);
    z-index: 11;
}

.profile__avatar-box:hover .profile__avatar-hover {
    visibility: visible;
}

.profile__new-avatar_input {
    visibility: hidden;
}

.profile__info-box {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    margin-left: var(--standard-indent);
}

.profile__nickname {
    width: calc(var(--modal-width) - var(--icon-size) * 4 - 3 * var(--standard-indent));
    overflow: hidden;
    color: var(--text-color-h1);
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile__invite-link{
    display: block;
    margin-top: calc(var(--standard-indent-small) * 2);
    color: var(--text-color-h2);
}

.profile__invite-link:hover {
    color: var(--text-color-h3);
    cursor: pointer;
}

.profile__invite-link:active {
    color: var(--text-color-h1);
}

.profile__copied {
    position: absolute;
    margin: calc(var(--standard-indent-small) / 2);
    padding: calc(var(--standard-indent-small) / 2) var(--standard-indent-small);
    border-radius: 24px;
    background: var(--text-color-h2);
    color: var(--background-color);
    font-size: 75%;
    text-align: center;
    pointer-events: none;
}

.profile__copied-animation {
    animation: fade linear .8s;
    animation-timing-function: ease-out;
    animation-delay: .2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.contacts {
    margin: 0;
    padding: 0;
}

.contacts__user-box {
    display: block;
    height: var(--icon-size);
    margin: var(--standard-indent-small);
    border-radius: var(--standard-indent-small);
    color: var(--text-color-h0);
}

.contacts__user-box:hover {
    transition: .2s;
    background-color: var(--neutral-color);
    cursor: pointer;
}

.contacts__nickname {
    padding-left: var(--standard-indent-small);
    font-weight: bold;
    line-height: var(--icon-size);
}
