:root {
    --base-color: #f3b6da;
    --secondary-color: #51a701;
    --spare-color: #00e1ff;
    --neutral-color: #90a8ac;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(/static/background.png);
    background-attachment: fixed;
    background-size: cover;
}
