.main_theme_day{
    --base-color: #399CE6ff;
    --base-color-semi-transparent: #399CE6dd;
    --base-color-transparent: #399CE6bb;

    --spare-color: #868686ff;
    --spare-color-semi-transparent: #86868699;
    --spare-color-transparent: #86868633;

    --neutral-color: #ebebebff;
    --neutral-color-semi-transparent: #ebebeb99;
    --neutral-color-transparent: #ebebeb33;

    --background-color: #fff;
    --darkness-color: #000c;

    --text-color-h0: #000;
    --text-color-h1: #000c;
    --text-color-h2: #000a;
    --text-color-h3: #0005;

    --standard-indent: 28px;
    --standard-indent-small: 8px;

    --icon-size: 28px;
    --modal-width: 400px;

    --border-size: 1px;
    --border-size-bold: calc(var(--border-size) * 2);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.main_theme_night {
    --base-color: #C66319ff;
    --base-color-semi-transparent: #C66319dd;
    --base-color-transparent: #C66319bb;

    --spare-color: #bbbf;
    --spare-color-semi-transparent: #bbb9;
    --spare-color-transparent: #bbb3;

    --neutral-color: #242424ff;
    --neutral-color-semi-transparent: #24242499;
    --neutral-color-transparent: #24242433;

    --background-color: #000;
    --darkness-color: #000d;

    --text-color-h0: #fff;
    --text-color-h1: #fffc;
    --text-color-h2: #fffa;
    --text-color-h3: #fff5;

    --standard-indent: 32px;
    --standard-indent-small: 8px;

    --icon-size: 32px;
    --modal-width: 400px;

    --border-size: 1px;
    --border-size-bold: calc(var(--border-size) * 2);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

hr {
    margin: 0;
    border: 1px solid var(--neutral-color);
}
