.main_theme_day{
    --base-color: #399CE6ff;
    --base-color-semi-transparent: #399CE699;
    --base-color-transparent: #399CE633;

    --spare-color: #868686ff;
    --spare-color-semi-transparent: #86868699;
    --spare-color-transparent: #86868633;

    --neutral-color: #ebebebff;
    --neutral-color-semi-transparent: #ebebeb99;
    --neutral-color-transparent: #ebebeb33;

    --text-color-h1: #000f;
    --text-color-h2: #000a;
    --text-color-h3: #0005;

    --standard-indent: 32px;
    --standard-indent-small: 8px;

    --icon-size: 32px;

    --border-size: 1px;
    --border-size-bold: calc(var(--border-size) * 2);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.main_theme_night {}

hr {
    margin: 0;
    border: 1px solid var(--neutral-color);
}
