.main {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 20px;
    width: calc(100% - 40px);
    height: calc(100vh - 64px - 2*10px - 2*20px);
    margin: 20px;
    background-color: var(--neutral-color);
    box-shadow: 0 0 5px grey;
}

.chats {
    grid-column: 2 / end;
    grid-row: 1 / 2;
    background: white;
}

.chats__search {
    height: 64px;
}

.chats__search-input {
    width: 100%;
    height: 64px;
    padding: 0;
    border-width: 0;
}

.chats__list {
    display: flex;
    flex-direction: column;
    margin: 0 var(--margin);
    overflow: auto;
}

.dialog {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
