.main {
    display: grid;
    grid-template-columns: 2fr 5fr;
    height: calc(100vh - 2 * 3vw - 84px);
    width: calc(100% - 2 * 3vw);
    margin: 3vw;
    border-radius: 10px;
    background-color: var(--neutral-color);
    --margin: 15px;
}

.chats {
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-row-gap: var(--margin);
}

.chats__search {
    margin: var(--margin);
}

.chats__list
{
    display: flex;
    flex-direction: column;
    margin: 0 var(--margin);
    overflow: auto;
}
