@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

body {
    --body-margin-side: 15%;
    margin: 0 var(--body-margin-side);
}

.main {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - var(--standard-indent-small));
    margin: 0 0 var(--standard-indent-small);
    border: var(--border-size) solid var(--neutral-color);
    border-radius: 1vmin;
    font-family: 'Noto Sans', sans-serif;
}

.chats {
    border-right: var(--border-size) solid var(--neutral-color);
}

.chats__list {
    width: 100%;
    height: calc(100% - var(--standard-indent) * 2);
    overflow: hidden;
}

.chats__list_wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-right: -16px;
}

.dialog {
    flex-grow: 3;
}

.darkness {
    display: flex;
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
}
