.main {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 2vh);
    border: 1px solid var(--neutral-color);
    border-radius: 1vmin;
    margin: 1vh 1vw;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.chats {
    flex: 2;
    border-right: solid 1px #e4e4e4;
}

.chats__search {
    --padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(var(--top-line) - var(--padding) * 2);
    padding: var(--padding);
    font-size: 16px;
}

.control-img {
    width: 32px;
    height: 32px;
    padding: 8px;
    border: 2px solid var(--neutral-color);
    border-radius: 8px;
}

.control-img:hover {
    background: radial-gradient(circle at center, var(--neutral-color), #ffffff);
    cursor: pointer;
}

.chats__box-burger {
    --size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    margin-right: 8px;
    border: 1px solid var(--neutral-color);
    border-radius: 50%;
    font-size: calc(var(--size) * 0.75);
}

.chats__box-burger:hover {
    background: radial-gradient(circle at center, var(--neutral-color), #ffffff);
    cursor: pointer;
}

.chats__search-input {
    height: 48px;
    padding: 0 16px;
    border-width: 0;
    border-radius: 4px;
    outline: none;
    background-color: var(--neutral-color);
    font-size: 18px;
}

.chats__search-input:focus {
    box-shadow: 0 0 2px 1px black;
}

.chats__list {
    width: 100%;
    height: calc(100% - 48px - 2*8px);
    overflow: auto;
}

.dialog {
    flex: 6;
}

.darkness {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
}
