@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

body {
    --body-margin-side: 15%;
    margin: 0 var(--body-margin-side);
}

.main {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - var(--standard-indent-small));
    margin: 0 0 var(--standard-indent-small);
    border: var(--border-size) solid var(--neutral-color);
    border-radius: 1vmin;
    font-family: 'Noto Sans', sans-serif;
}

.chats {
    border-right: var(--border-size) solid var(--neutral-color);
    background-color: var(--background-color);
}

.chats__list_wrapper {
    height: calc(100% - var(--standard-indent) * 2);
    overflow: hidden;
}

.chats__no-chats {
    width: 310px;
    height: 100%;
}

.chats__list {
    height: 100%;
    overflow-x: hidden;
}

@supports not (-webkit-appearance: radio) {
    .chats__list {
        margin-right: -17px;
        overflow-y: scroll;
    }    
}

.chats__list::-webkit-scrollbar {
    width: 4px;
    background-color: var(--neutral-color); 
}

.chats__list::-webkit-scrollbar-thumb { 
    border-radius: 2px;
    background-color: var(--spare-color);
}

.dialog {
    flex-grow: 3;
}

.darkness {
    display: flex;
    position: absolute;
    z-index: 31;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: var(--darkness-color);
}

.substrate {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}

.theme {
    position: fixed;
    top: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
    padding: 4px;
    border: 2px solid var(--neutral-color);
    border-radius: 8px;
    background-image: url(/static/theme.svg);
    background-repeat: no-repeat;
    background-position: 4px 4px;
    background-size: 24px;
    cursor: pointer;
}
