.chat-window {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 
        calc(var(--icon-size) + var(--standard-indent))
        1fr
        calc(var(--icon-size) + var(--standard-indent-small) * 2)
        calc(var(--icon-size) + var(--standard-indent-small) * 3)
        calc(var(--icon-size) + var(--standard-indent-small) * 2)
        calc(var(--icon-size) + var(--standard-indent-small) * 2);
    height: 100%;
    overflow: hidden;    
    background-color: var(--background-color);
}

.chat-window__stub {
    grid-area: 1 / 1 / 5 / 2;
    justify-self: center;
    align-self: center;
    width: 50%;
    height: 50%;
    opacity: 0.1;
    background-color: var(--background-color);
}

.chat-window__dragndrop-hint {
    z-index: 21;
    grid-area: 2 / 1 / 5 / 2;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: calc(var(--standard-indent) / 2);
    background-color: var(--neutral-color);
    background-image: url(/static/drag_and_drop.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 80%;
    color: var(--text-color-h2);
    font-weight: bold;
    line-height: var(--icon-size);
    text-align: center;
}

.chat-header {
    --size: calc(var(--icon-size) * 1.5);
    display: flex;
    z-index: 1;
    align-items: center;
    border-bottom: var(--border-size) solid var(--neutral-color);
    background-color: var(--background-color);
    font-size: 125%;
    font-weight: bold;
}

.chat-header__img {
    width: var(--size);
    height: var(--size);
    margin: 0 calc(var(--standard-indent) / 2);
    border-radius: 50%;
    object-fit: cover;
}

.chat-header__name {
    width: 200px;
    overflow: hidden;
    color: var(--text-color-h1);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-header__img:hover,
.chat-header__name:hover {
    text-shadow: 0 0 var(--border-size) var(--text-color-h3);
    cursor: pointer;
}

.chat-header__battery {
    margin: 0 var(--standard-indent-small);
    color: var(--text-color-h2);
    font-size: 70%;
    font-weight: normal;
    width: 350px;
    white-space: nowrap;
    word-wrap: none;
    overflow: hidden;
    text-overflow: ellipsis;
    animation: blink_battery 1s linear 0s infinite;
    cursor: default;
}

.messages {
    display: flex;
    flex-direction: column;
    padding: 0 calc(var(--standard-indent-small) * 2);
    overflow-x: hidden;
    background-color: var(--background-color);
}

@supports not (-webkit-appearance: radio) {
    .messages {
        margin-right: -17px;
        overflow-y: scroll;
    }    
}

.messages::-webkit-scrollbar {
    width: 4px;
    background-color: var(--neutral-color); 
}

.messages::-webkit-scrollbar-thumb { 
    border-radius: 2px;
    background-color: var(--spare-color);
}

.current-forward {
    padding: var(--standard-indent-small) var(--standard-indent);
    border-top: var(--border-size) solid var(--neutral-color);
    box-sizing: border-box;
    font-size: 90%;
    display: flex;
    line-height: var(--icon-size);
    position: relative;
    color: var(--text-color-h0);
}

.current-forward__author {
    font-weight: bold;
    max-width: 30%;
    margin-right: var(--standard-indent-small);
}

.current-forward__text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc((100vw * 0.7 - 310px) * 0.7);
}

.current-forward_clear {
    position: absolute;
    z-index: 3;
    right: 0;
    height: calc(var(--icon-size) / 2);
    width: calc(var(--icon-size) / 2);
    padding: var(--standard-indent-small);
    background-color: var(--neutral-color-transparent);
    opacity: .6;
}

.current-forward_clear:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.current-forward_clear:active {
    transform: scale(0.9);
}

.grid_1_2 {
    grid-area: 1 / 1 / 2 / 2
}

.grid_2_3 {
    grid-area: 2 / 1 / 3 / 2
}

.grid_2_4 {
    grid-area: 2 / 1 / 4 / 2
}

.grid_2_5 {
    grid-area: 2 / 1 / 5 / 2
}

.grid_2_6 {
    grid-area: 2 / 1 / 6 / 2
}

.grid_3_5 {
    grid-area: 3 / 1 / 5 / 2
}

.grid_4_6 {
    grid-area: 4 / 1 / 6 / 2
}

.grid_5_6 {
    grid-area: 5 / 1 / 6 / 2
}

.grid_6_7 {
    grid-area: 6 / 1 / 7 / 2
}

@keyframes blink_battery {
    0% {
        color: var(--text-color-h1);
    }
    50% {
        color: var(--text-color-h3);
    }
    100% {
        color: var(--text-color-h1);
    }
}
