.message {
    position: relative;
    min-width: 20%;
    max-width: 65%;
    margin-top: calc(var(--standard-indent-small) * 2);
}

.message:first-child {
    margin-top: calc(var(--standard-indent-small) * 3);
}

.message_my {
    align-self: flex-end;
}

.message_friend {
    align-self: flex-start;
}

.message__controls {
    display: flex;
    visibility: hidden;
    position: absolute;
    top: calc(
        (
            var(--icon-size) * 0.75 + 
            var(--standard-indent-small) * 0.25 * 2
        ) / -1.5
    );
    right: calc(var(--standard-indent-small) * 1.5);
    align-items: center;
    justify-content: space-evenly;
    width: calc(
        (
            var(--icon-size) * 0.75 + 
            var(--standard-indent-small) * 0.25 * 2
        ) * 3
    );
    border: var(--border-size) solid var(--spare-color);
    border-radius: var(--standard-indent-small);
    background-color: var(--background-color);
}

.message:hover .message__controls {
    visibility: visible;
}

.message__control {
    width: calc(var(--icon-size) * 0.75);
    height: calc(var(--icon-size) * 0.75);
    margin: calc(var(--standard-indent-small) / 4) 0;
    border-radius: 50%;
    background-size: 24px;
}

.message__control:hover {
    background-color: var(--spare-color-transparent);
    cursor: pointer;
}

.message__add-emoji {
    background-image: url(/static/emoji.svg);
}

.message__reply {
    background-image: url(/static/reply.svg);
}

.message__forward {
    background-image: url(/static/forward.svg);
}

.message__body {
    padding: calc(var(--standard-indent-small) * 2);
    border-radius: var(--standard-indent-small);
    background-color: var(--neutral-color);
    font-size: 90%; 
}

.message__body_my {
    border-bottom-right-radius: 0;
}

.message__body_friend {
    border-bottom-left-radius: 0;
}

.message__data {
    display: flex;
    justify-content: space-between;
    color: var(--text-color-h3);
    font-size: 80%;
}

.message__sender {
    margin-right: var(--standard-indent-small);
}

.message__date {
    text-align: right;
}

.message__content {
    margin: var(--standard-indent-small) 0;
    color: var(--text-color-h1);
    text-decoration: none;
    word-break: break-all;
}

.message__content a {
    text-decoration: none;
}

.message__content a:hover {
    color: var(--base-color-semi-transparent);
}

.message__attachments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message__attachment {
    display: block;
    max-width: 90%;
    max-height: 200px;
    margin: var(--standard-indent-small) 0;
    object-fit: contain;
}

.message__attachment:hover {
    cursor: pointer;
}

.message__reactions {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 calc(var(--standard-indent-small) / 2);
}

.message__reactions_to-left {
    display: flex;
    flex-wrap: wrap;
}

.reaction {
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-top: calc(var(--standard-indent-small) / 2);
    margin-right: var(--standard-indent-small);
    padding: calc(var(--standard-indent-small) / 2);
    border: var(--border-size) solid transparent;
    border-radius: var(--standard-indent-small);
    background-color: var(--neutral-color);
    cursor: pointer;
}

.reaction:hover {
    border-color: var(--spare-color);
    background-color: var(--neutral-color-semi-transparent);
}

.reaction__number-peoples {
    margin-left: calc(var(--standard-indent-small) / 2);
    color: var(--text-color-h2);
    font-size: 90%;
    font-weight: bold;
    line-height: 100%;
}

.reaction__users {
    display: flex;
    visibility: hidden;
    position: absolute;
    z-index: 1;;
    bottom: var(--icon-size);
    flex-direction: column;
    max-width: calc(var(--standard-indent) * 3);
    padding: var(--standard-indent-small);
    border-radius: var(--standard-indent-small);
    background: var(--text-color-h1);
    color: var(--background-color);
    font-size: 75%;
}

.reaction__users > span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.friend .reaction__users {
    left: 0;
}

.my .reaction__users {
    right: 0;
}

.reaction:hover > .reaction__users {
    visibility: visible;
}

.metadata {
    display: flex;
    flex-direction: column;
    padding: var(--standard-indent-small);
    border: var(--border-size) solid var(--spare-color-semi-transparent);
    border-radius: var(--standard-indent-small);
    color: var(--base-color);
    font-size: 80%;
    text-decoration: none;
}

.metadata:hover {
    color: var(--base-color-transparent);
}

.metadata__image {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.metadata__header {
    margin: var(--standard-indent-small) 0;
}

.message > .emoji-mart {
    /* не буду удалять, вдруг пригодится, я это полчаса высчитывал */
    /* bottom: calc(var(--icon-size) + var(--standard-indent-small) * 3); */
    top: 0;
    /* width: calc((100% - var(--standard-indent-small) * 2 * 2) * 0.33) !important; */
    width: 200px !important;
    height: 200px;
    max-height: calc(100% - var(--standard-indent-small) / 2);
    background-color: var(--background-color);
}

.message_friend > .emoji-mart {
    /* right: calc(1% + var(--standard-indent-small) * 2 / 2); */
    right: -215px;
}

.message_my > .emoji-mart {
    /* left: calc(1% + var(--standard-indent-small) * 2 / 2); */
    left: -215px;
}
