.message {
    min-width: 20%;
    max-width: 70%;
    margin-top: var(--standard-indent-small);
    padding: var(--standard-indent-small) calc(var(--standard-indent-small) * 2);
    border-radius: calc(var(--standard-indent-small) * 2);
    background-color: var(--neutral-color);
    font-size: 90%;    
}

.my {
    align-self: flex-end;
    border-bottom-left-radius: 0;
}

.friend {
    align-self: flex-start;
    border-bottom-right-radius: 0;
}

.message__data {
    display: flex;
    justify-content: space-between;
    color: var(--text-color-h3);
    font-size: 80%;
}

.message__sender {
    margin-right: var(--standard-indent-small);
}

.message__date {
    text-align: right;
}

.message__content {
    margin: var(--standard-indent-small) 0;
    text-decoration: none;
    word-break: break-all;
}

.message__content a {
    text-decoration: none;
}

.message__content a:hover {
    color: var(--base-color-semi-transparent);
}

.message__attachments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message__attachment {
    display: block;
    max-width: 90%;
    max-height: 200px;
    padding: 3%;
    object-fit: contain;
}

.message__attachment:hover {
    cursor: pointer;
}

.message__reactions {
    display: flex;
    justify-content: space-between;
    margin: var(--standard-indent-small) 0;
}

.message__reactions_to-left {
    display: flex;
}

.message__add-emoji {
    width: var(--icon-size);
    height: var(--icon-size);
    margin-left: var(--standard-indent-small);
    cursor: pointer;
}

.reaction {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: var(--icon-size);
    margin: 0 var(--standard-indent-small);
    padding: 
        calc(var(--standard-indent-small) / 4) 
        calc(var(--standard-indent-small) / 2);
    border: var(--border-size) solid var(--spare-color-semi-transparent);
    border-radius: calc(var(--standard-indent-small) / 2);
}

.reaction:nth-child(1) {
    margin-left: 0;
}

.reaction__number-peoples {
    margin-left: var(--standard-indent-small);
    font-size: 110%;
    font-weight: bold;
}

.metadata {
    display: flex;
    flex-direction: column;
    padding: var(--standard-indent-small);
    border: var(--border-size) solid var(--spare-color-semi-transparent);
    border-radius: var(--standard-indent-small);
    color: var(--base-color);
    font-size: 80%;
    text-decoration: none;
}

.metadata:hover {
    color: var(--base-color-transparent);
}

.metadata__image {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.metadata__header {
    margin: var(--standard-indent-small) 0;
}
